.main-title {
    font-family:'Lucida Sans Regular';
    color: orange;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 50%;
    text-align: center;
    font-weight: lighter;
    margin-top: 170px;
}

.ul-main li {
    list-style: none;
    padding: 10px;
    font-weight: lighter;
}

.ul-main {
  background: #fff;
  margin-top: 70px;
  margin-left: 100px;
}

.ul-main a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 300;
}

html {
    margin: 0 auto;
    width: 600px;
    margin-bottom: 30px;
}

p, .recipe-ul li, .recipe-ol li {
    color: #4a6f75;
}

img {
    width: 550px;
    height: auto;
    border-radius: 20%;
}

.recipe-subject, .subtitle {
    text-align: center;
    font-weight: lighter;
}

.back-bottom {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: small;
    border-bottom-style:solid;
}

.recipe-subject {
    font-weight: bolder;
    color: orange;
}